<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>board</display-name>

	<servlet>
		<servlet-name>ControllerUsingURI</servlet-name>
		<servlet-class>com.khrd.controller.ControllerUsingURI</servlet-class>
		<init-param>
			<param-name>configFile</param-name> <!-- ControllerUsingURI에서 init에서 configFile와 같은 것. 그래서 대소문자 구분해서 이름 똑같이 맞춰야함. -->
			<param-value>/WEB-INF/commandHandler.properties</param-value> <!-- properties타입의 위치 -->
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControllerUsingURI</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DBCPInit</servlet-name>
		<servlet-class>com.khrd.jdbc.DBCPInit</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>


	<filter>
		<filter-name>CharacterEncodingFilter</filter-name> <!-- 클래스 이름 그대로 -->
		<filter-class>com.khrd.util.CharacterEncodingFilter</filter-class> <!-- 패키지명.클래스명 -->
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern> <!-- 어떤 커멘드가 호출이 되든 간에 맵핑의 필터네임이랑 같은 클래스 명을 찾아가도록 함. 필터와 필터맵핑의 네임은 같게 해주면 됨(XX로 통일시켜도 상관은 없음). -->
	</filter-mapping>
	
	<filter>
		<filter-name>LoginCheckFilter</filter-name>
		<filter-class>com.khrd.util.LoginCheckFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginCheckFilter</filter-name>
		<url-pattern>/article/add.do</url-pattern><!-- 모든 커멘드일때 갈 필요없고 특정커멘드만 넣어도됨. 그래서 .*안씀 -->
		<url-pattern>/article/update.do</url-pattern>
		<url-pattern>/article/delete.do</url-pattern>
	</filter-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>